node-red-flow.txt
[{"id":"f76cebb9.76d378","type":"tab","label":"Flow 1"},{"id":"91b3f1fb.a4e4d","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"BRAIN WAVE ","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":100,"sy":100,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3d4c4777.0fb458","type":"ui_tab","z":"","name":"Human Attention Level Dashboard 1","icon":"dashboard","order":1},{"id":"40e5747d.d679ac","type":"ui_group","z":"","name":"Slide","tab":"3d4c4777.0fb458","disp":true,"width":"12"},{"id":"8bacd1ce.b26bd","type":"ui_tab","z":"","name":"Results","icon":"dashboard","order":2},{"id":"d871e576.3e8988","type":"ui_group","z":"","name":"Group 2","tab":"3d4c4777.0fb458","order":2,"disp":true,"width":"6"},{"id":"1b2585b.68f0e7a","type":"ui_group","z":"","name":"Graphing","tab":"8bacd1ce.b26bd","order":1,"disp":true,"width":"6"},{"id":"8c5609e1.815b78","type":"ui_template","z":"f76cebb9.76d378","group":"40e5747d.d679ac","name":"","order":0,"width":"10","height":"5","format":"\n<div ng-attr-src=\"{{ 'object-' + myScopeObject.index }}\"></div>\n//<div ng-bind-html=\"msg.payload\"></div>\n<img width=\"50\" height=\"50\" alt=\"star\" ng-attr-src= {{msg.payload}} />\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":615,"y":418,"wires":[[]]},{"id":"3ab5c714.e51698","type":"ui_chart","z":"f76cebb9.76d378","name":"Attention Analytics ","group":"1b2585b.68f0e7a","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":873,"y":424,"wires":[[],[]],"inputLabels":["100"]},{"id":"d2c4f5c4.d4eb28","type":"debug","z":"f76cebb9.76d378","name":"","active":true,"console":"false","complete":"true","x":676.5,"y":706,"wires":[]},{"id":"66efea1b.6aa204","type":"function","z":"f76cebb9.76d378","name":"clickResponse","func":"var i;\nswitch (msg.payload)\n{\n    case 0:\n        msg.payload = \"https://upload.wikimedia.org/wikipedia/commons/5/55/Large_breaking_wave.jpg\";\n        break;\n    case 1:\n        msg.payload = \"http://jonvilma.com/images/leaf-6.jpg\";\n        break;\n    case 2:\n        msg.payload = \"http://galileo.phys.virginia.edu/classes/USEM/SciImg/home_files/introduction_files/EMSpec.gif\";\n        break;\n        \n    case 3:\n        msg.payload = \"https://ak9.picdn.net/shutterstock/videos/5543639/thumb/1.jpg\";\n        break;\n    \n    case 4:\n        msg.payload = \"http://www.cobizmag.com/cole%20frock%20computer%20coding%20skills.jpg\";\n        break;\n   \n    case 5:\n        msg.payload = \"https://www.ultra-electronics.com/Uploads/BusinessImages/Motherboard_450.jpg\";\n        break;\n    \n    case 6:\n        msg.payload = \"http://www.benchmark-electronics.com/images/slider/banner4.jpg\";\n        break;\n        \n    case 7:\n        msg.payload = \"https://www.mmu.edu.my/wp-content/uploads/2016/09/mmulogo.png\";\n        break;\n        \n        \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":389,"y":599,"wires":[["d2c4f5c4.d4eb28","8c5609e1.815b78"]]},{"id":"5f29d9b7.ca6278","type":"ui_slider","z":"f76cebb9.76d378","name":"","label":"Slide","group":"40e5747d.d679ac","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"7","step":1,"x":151.5,"y":593,"wires":[["66efea1b.6aa204"]]}]